body {
  margin: 5% auto auto auto;
  background-color: #e6e6e6;
  color: #ffffff; }

.calcbody {
  background-image: url("http://www.transparenttextures.com/patterns/gray-floral.png");
  border: 1px solid black;
  padding: 20px;
  background-color: #4b4f9c;
  /*box-shadow around border*/
  box-shadow: 10px 10px 5px rgba(23, 69, 88, 0.5);
  /* rounded corners */
  border-radius: 30px; }

/****** top two title rows *******/
.title {
  font-style: oblique;
  font-size: 20px;
  margin-bottom: 0%; }

.inputbox {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e6e6e6;
  height: 45px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(15%, white), color-stop(100%, #cccccc));
  background: -moz-linear-gradient(top, white 0%, white 55%, #cccccc 130%); }

.inputdata {
  font-size: 20px; }

/*buttons on calculator */
.btn {
  margin-top: 10px;
  margin-right: 1%;
  margin-left: 0px;
  border-radius: 10px;
  width: 30%;
  /*box shadow from http://bootdey.com/snippets/view/Full-bootsra-3d-Buttons  */
  box-shadow: 0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 4px 0 0 #adadad, 0 4px 0 1px rgba(0, 0, 0, 0.4), 0 8px 4px 1px rgba(0, 0, 0, 0.5);
  background-color: #fff; }

#addbtn {
  float: right;
  border-radius: 10px;
  width: 200% !important;
  height: 80px; }

#acbtn, #cebtn {
  background-color: #ff5c33; }

/** four buttons on the far right */
.bt3 {
  float: right;
  width: 200% !important; }

/*centers the keys and input on calc. */
.testme {
  margin-right: 1% !important; }

.test3 {
  margin-left: 4%; }

input {
  margin-left: 4%; }
