<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Peep Power- home</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style/blog.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>


</head>
<body class="container">
  <header class="jumbotron text-center header-top">
    <h1 class="outline"> Peep Power</h1>
    <h2 class="outline"> Ship's Log</h2>
  </header>
  <!-- navbar need to add sign-in for comments -->
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="310">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a href="index.html">Home</a>

    </div>


  </div><!-- /.container-fluid -->
</nav>

  <section class="blog">
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec accumsan lorem, sit amet sollicitudin purus. Vestibulum mauris orci, sodales vitae accumsan laoreet, porttitor at massa. Nulla varius gravida quam sit amet auctor. Maecenas sed euismod sapien. Sed elit tellus, dignissim id placerat vitae, finibus nec lectus. Duis varius, ipsum at bibendum viverra, odio quam mollis tortor, nec tristique justo nibh eget eros. Donec vestibulum est libero, id euismod metus placerat non. Maecenas eget eros ultrices, pellentesque quam sed, rutrum quam. Quisque in purus ac lectus dictum iaculis. Mauris efficitur tellus ac enim gravida consequat sed in quam.

Phasellus elementum felis in ultrices consectetur. Duis semper ante eget urna sollicitudin, sed sodales metus fermentum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sed commodo nunc, vel egestas enim. Aliquam dictum blandit justo at rhoncus. Nam vitae nunc gravida, lobortis risus sit amet, ultricies diam. Phasellus in mauris tempor, placerat tellus vel, placerat turpis. Maecenas non dui dolor. </p>
  </section>
<footer>
  <div class="row"><!--hidden-sm-down not working !!!!!!!!!!!!!!!!!!!-->
    <div class="col-xs-2">
      <img id = "logo" src="images/logo.jpg" alt="fish logo">
    </div>
    <div class="col-xs-10 col-md-5">
      <p>Mission statement:  To indoctrinate the human race into peepism using a wide assortment of methods
      including but not limited to fake news, game addiction, social psychology, and the generation of
      behavioral algorithms.</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <ul>
        <li> <a href="privacyPolicy.html">privacy policy </a></li>
        <li> <a href="termsOfUse.html">terms of use</a> </li>
        <li>Created by: Tanya Gendreau</li>
        <li> contact: tanyagendreau@gmail.com </li>
        <li> <a href="https://github.com/tanya53/tanya53.github.io">source code</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a class="col-xs-4 col-sm-2" href ="https://facebook.com"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://github.com"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://linkedin.com"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://plus.google.com"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://freecodecamp.com"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://twitter.com"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>
  <div>&copy;2017 - Tanya Gendreau</div>
</footer>
</body>
</html>
