<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Peep Power- home</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style/calculator.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>
<script src="script/calculator.js"></script>

</head>
<body class="container-fluid">
<div class="row">
  <div class= "calcbody col-xs-9 col-xs-offset-1 col-sm-6 col-sm-offset-3
               col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class = "row test6">
      <p class ="text-center title" >FreecodeCamp</p>
      <p class = "text-center">Electronic Calculator</p>
    </div>
    <div class="row">
      <div class="col-xs-11">
       <form>
         <input type="text" class="form-control text-right" readonly="readonly" id="equation">
      </form>
      </div>
    </div>

   <div class ="row test3">
   <div class="col-xs-9">
   <div class = "row test2">
    <div class="col-xs-12">
        <div class="row test0">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md text-center" value="AC" id="acbtn">AC</button>
          <button type=button class="btn btn-default btn-md text-center" value ="CE" id="cebtn">CE</button>
          <button type=button class="btn btn-default btn-md" value = "%" id="perbtn">%</button>
        </div>
      </div> <!-- button row -->
        <div class="row test0">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md" value="7" id = "7btn">7</button>
          <button type=button class="btn btn-default btn-md" value ="8" id = "8btn">8</button>
          <button type=button class="btn btn-default btn-md" value = "9" id ="9btn">9</button>
        </div>
      </div> <!-- button row -->
        <div class="row test0">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md" value="4" id ="4btn">4</button>
          <button type=button class="btn btn-default btn-md" value ="5" id = "5btn">5</button>
          <button type=button class="btn btn-default btn-md" value = "6" id = "6btn">6</button>
        </div>
      </div> <!-- button row -->
        <div class="row test0">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md" value="1" id ="1btn">1</button>
          <button type=button class="btn btn-default btn-md" value ="2" id = "2btn">2</button>
          <button type=button class="btn btn-default btn-md" value = "3" id ="3btn">3</button>
        </div>
      </div> <!-- button row -->
      <div class="row test0 ">
        <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md" value="0" id ="0btn">0</button>
          <button type=button class="btn btn-default btn-md" value= "." id = "decbtn">.</button>
          <button type=button class="btn btn-default btn-md" value ="=" id="eqbtn">=</button>
        </div>
      </div> <!-- button row -->
  </div>
  </div>

  </div>
        <div class="row testme ">
        <div class="col-xs-2">
         <div class="row test12">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md bt3" value="/" id ="divbtn">/</button>
            </div>
          </div>
          <div class="row test12">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md bt3" value="*" id ="multbtn">x</button>
            </div>
          </div>
          <div class="row test12">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md bt3" value="-" id ="subbtn">-</button>
            </div>
          </div>

          <div class="row test12">
          <div class="col-xs-12">
          <button type=button class="btn btn-default btn-md bt3" value="+" id ="addbtn">+</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
