<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Peep Power- Games</title>
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/games.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>
<script type ="text/javascript" src="../script/games.js"></script>


</head>
<body>
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="300">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html#purpose">Purpose of Site</a></li>
            <li><a href="index.html#history">Peep History</a></li>
            <li><a href="index.html#meetPeeps">Meet the Peeps</a></li>
            <li><a href="index.html#peepHeros">Peep Heroes</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="photos.html">Photo Albums<span class="sr-only">(current)</span></a></li>
            <li><a href="popularpost.html">Peep Popular Post</a></li>
            <li><a href="blog.html">Ship Log</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#TicTacToe">Tic-Tac-Toe</a></li>
            <li><a href="#Simon">Simon</a></li>
            <li><a href="#Memory">Memory</a></li>
            <li><a href="#FindOddPeep">Find the extra peep</a></li>
            <li><a href="games2.html#gettumblers">Gather the Tumblers</a></li>
            <li><a href="games2.html#slidingTile">Sliding Tile Puzzle</a></li>
            <li><a href="games3.html#nibbles">Nibbles - Snake game</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="misc.html#clock">Clock</a></li>
            <li><a href="misc.html#calculator">Calculator</a></li>
            <li><a href="misc.html#visit">Will the peeps visit?</a></li>
            <li><a href="misc.html#where">Where are the peeps?</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tempindex"><span class="glyphicon glyphicon-user">Login/Signup</a></span></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<section class='container-fluid'>
  <section id="TicTacToe" class="row anchor">
    <header>
      <h2>TicTacToe</h2>
      <p> TicTacToe was one of the first games that the peeps learned on the planet earth.  They
        have developed into expert players.  The peeps are always so anxious to play a new opponent
        that they always make the first move.  Really it is because they always want to win, or have it end
         in a draw. Don't say we didn't warn you!
      </p>

    <header>
    <section>
      <div class="row board col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
           <div class="col-xs-4 box text-center" value="0" id = "box0">
             <span id = "0">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="1" id ="box1">
             <span id = "1">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="2" id ="box2">
             <span id = "2">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="3" id ="box3">
             <span id = "3">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="4" id = "box4">
             <span id = "4">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="5" id="box5">
             <span id = "5">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="6" id ='box6'>
             <span id = "6">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="7" id ='box7'>
             <span id = "7">&nbsp;</span>
           </div>
           <div class="col-xs-4 box text-center" value="8" id ='box8'>
             <span id = "8">&nbsp;</span>
           </div>
      <div class="gamestart col-xs-10">
        <div class = "outline">
        <p class="text-center">tic-tac-toe</p>
          <p class="text-center">x or o</p>
        </div>
        <div class="btnpos">
          <button role=button class="play btn btn-default btn-sm" value="X">X</button>
          <button role=button class="play btn btn-default btn-sm" value="O">O</button>
        </div>
        </div>
        <div class="lines"><hr></hr></div>
      <div class="text-center winner">
        <p class="winner2"><p>
        <button type=button class="yesno btn btn-default btn-sm" value="Yes">Yes</button><button type=button class="yesno btn btn-default btn-sm" value="No">No</button>
      </div>
    </div>
    </section>
  </section>


  <section id="Simon" class="row anchor">
    <header>
      <h2>Simon</h2>
    </header>
    <section class="container-fluid row col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 test">
      <!-- outer circles with the colors -->
      <div class="row test1">
         <div class = "color col-xs-6" id = "green" value="green">
          <span>&nbsp;</span>
        </div>
        <div class = "color col-xs-6" id = "red"  value="red">
          <span>&nbsp;</span>
        </div>
      </div>
      <div class="row test1">
        <div class = "color col-xs-6" id ="yellow" value="yellow">
          <span>&nbsp;</span>
        </div>
        <div class = "color col-xs-6" id = "blue" value="blue">
          <span>&nbsp;</span>
        </div>
      </div>
      <!-- inner circle of game --->
      <div id ="gamecircle">
        <div class = "text-center" id ="gametitle">SIMON</div>
        <div class = "row">
          <div class="col-xs-4 test3">
            <div id ="counter">--</div>
            <p id ="countlabel">COUNT</p>
          </div>
          <div class="col-xs-4 test4">
            <button type="button" class="btn btn-default disabled" disabled=true id="start">start</button>
          </div>
          <div class="btn-box col-xs-4 test5">
            <button type="button" class="btn btn-default disabled" disabled=true id="strict">strict</button>
          </div>
        </div>

        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" >
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
          </label>
        </div>
        <div class = "text-center" id = "win"> Congratulations you won !!!</div>
    </section>
  </section>

  <section id="Memory" class="row anchor">
    <header>
      <h1>matching game</h1>
    </header>
    <section id="game">
        <div class="card">
          <div class="face front"></div>
          <div class="face back"></div>
        </div>

    </section>
    <div id="playagain">Do you want to play again?
      <button id = "yesbtn" type="button" class="btn btn-default">Yes</button>
      <button id = "nobtn" type="button" class="btn btn-default">No</button>
    </div>
  </section>

  <section id ="FindOddPeep" class="row anchor">
    <header class="head">
      <h2>Find the extra peep
        <button id = "gamebtn" class="btn btn-primary btn-lg" role="button" >Play</button></h2>
      <p>Click on the extra Prince Sergio on the left or bottom depending on screen size.</p>
    </header>
    <div class="row" id ="gameArea">
    <div class="gamediv col-xs-12 col-sm-6" id="leftside">
    </div>
    <div class="gamediv col-xs-12 col-sm-6" id="rightside">
    </div>
  </div>


  </section>
</section>
<footer>
    <div class="col-xs-2">
      <img id ="logo" src="../images/logo.jpg" alt="fish logo">
    </div>
    <div class="col-xs-10 col-md-5">
      <p>Mission statement:  To indoctrinate the human race into peepism using a wide assortment of methods
      including but not limited to fake news, game addiction, social psychology, and the generation of
      behavioral algorithms.</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <ul>
        <li> <a href="privacyPolicy.html">privacy policy </a></li>
        <li> <a href="termsOfUse.html">terms of use</a> </li>
        <li>Created by: Tanya Gendreau</li>
        <li> contact: tanyagendreau@gmail.com </li>
        <li> <a href="https://github.com/tanya53/peep_project_server">source code</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a class="col-xs-4 col-sm-2" href ="https://facebook.com/tanya.gend"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://github.com/tanya53"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://linkedin.com"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://plus.google.com"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://freecodecamp.com"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://twitter.com"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>
  <div>&copy;2017 - Tanya Gendreau</div>
</footer>
</body>
</html>
