<!doctype html>
<html lang="en-US"  style="width:100%;height:100%;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title class="text-center">Peep Power- misc</title>
  <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style/misc.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/1e9f243857.js"></script>
  <script src="../script/misc.js"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaXIai9c9cAUgt7Whw2h15HCNCaKWhlOo&callback=initMap">
  </script>
</head>
<body>
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="300">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html#purpose">Purpose of Site</a></li>
            <li><a href="index.html#history">Peep History</a></li>
            <li><a href="index.html#meetPeeps">Meet the Peeps</a></li>
            <li><a href="index.html#peepHeros">Peep Heroes</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="photos.html">Photo Albums<span class="sr-only">(current)</span></a></li>
            <li><a href="popularpost.html">Peep Popular Post</a></li>
            <li><a href="blog.html">Ship Log</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="games.html#TicTacToe">Tic-Tac-Toe</a></li>
            <li><a href="games.html#Simon">Simon</a></li>
            <li><a href="games.html#Memory">Memory</a></li>
            <li><a href="games.html#FindOddPeep">Find the extra peep</a></li>
            <li><a href="games2.html#gettumblers">Gather the Tumblers</a></li>
            <li><a href="games2.html#slidingTile">Sliding Tile Puzzle</a></li>
            <li><a href="games3.html#nibbles">Nibbles - Snake game</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#clock">Clock</a></li>
            <li><a href="#calculator">Calculator</a></li>
            <li><a href="#visit">Will the peeps visit?</a></li>
            <li><a href="#where">Where are the peeps?</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tempindex"><span class="glyphicon glyphicon-user">Login/Signup</a></span></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<section class='container-fluid'>
  <section id="clock" class="row anchor">
    <header>
      <h2>Clock</h2>
      <p>The peeps enjoy playing so much that they sometimes forget their mission
         to convert the human species to peepism.  The pomodoro clock helps them stay
         on task and also makes sure that they can have the playtime they desire.
      </p>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <h1>Pomodoro Clock</h1>
      </div>
    </div><!--row-->
    <div class="row"> <!-- counters -->
  	  <!-- rest time -->
  	  <div class="col-xs-6" id= "timer1">
  	    <p>PLAYTIME</p>
         <button class="btn btn-default btn-xs btnsign" id ="decrease_rest">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
          <span id="rest_time">1</span>
          <button id = "increase_rest" class="btn btn-default btn-xs btnsign">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  	  </div>


         <!-- chore time -->
  	  <div class="col-xs-6" id= "timer2">
  	   <p id = "testme">CHORE TIME</p>
         <button id = "decrease_chore" class="btn btn-default btn-xs btnsign">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
          <span id="chore_time">1</span>
          <button id = "increase_chore" class="btn btn-default btn-xs btnsign">
           <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
  	 </div>
     </div>
     <div class="row">
      	<!-- circle for clock -->
        <div  class="center-block" id="load-bar-frame">
          <div id="load-bar">
            <span id="session">Session</span>
           <span id="current_time"></span></div>
        </div>
      </div>
    </div>
  </section>
  <section id="calculator" class="row anchor">
    <header>
      <h2>Calculator</h2>
    </header>
    <div class="row">
      <div class= "calcbody col-xs-9 col-xs-offset-1 col-sm-6 col-sm-offset-3
                   col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
        <div class = "row test6">
          <p class ="text-center title" >FreecodeCamp</p>
          <p class = "text-center">Electronic Calculator</p>
        </div>
        <div class="row">
          <div class="col-xs-11">
           <form>
             <input type="text" class="form-control text-right" readonly="readonly" id="equation">
          </form>
          </div>
        </div>

       <div class ="row test3">
       <div class="col-xs-9">
       <div class = "row test2">
        <div class="col-xs-12">
            <div class="row test0">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md text-center nbr_btn" value="AC" id="acbtn">AC</button>
              <button type=button class="btn btn-default btn-md text-center nbr_btn" value ="CE" id="cebtn">CE</button>
              <button type=button class="btn nbr_btn btn-default btn-md" value = "%" id="perbtn">%</button>
            </div>
          </div> <!-- button row -->
            <div class="row test0">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn" value="7" id = "7btn">7</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value ="8" id = "8btn">8</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value = "9" id ="9btn">9</button>
            </div>
          </div> <!-- button row -->
            <div class="row test0">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn" value="4" id ="4btn">4</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value ="5" id = "5btn">5</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value = "6" id = "6btn">6</button>
            </div>
          </div> <!-- button row -->
            <div class="row test0">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn" value="1" id ="1btn">1</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value ="2" id = "2btn">2</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value = "3" id ="3btn">3</button>
            </div>
          </div> <!-- button row -->
          <div class="row test0 ">
            <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn" value="0" id ="0btn">0</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value= "." id = "decbtn">.</button>
              <button type=button class="btn btn-default btn-md nbr_btn" value ="=" id="eqbtn">=</button>
            </div>
          </div> <!-- button row -->
      </div>
      </div>

      </div>
            <div class="row testme ">
            <div class="col-xs-2">
             <div class="row test12">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn bt3" value="/" id ="divbtn">/</button>
                </div>
              </div>
              <div class="row test12">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn bt3" value="*" id ="multbtn">x</button>
                </div>
              </div>
              <div class="row test12">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn bt3" value="-" id ="subbtn">-</button>
                </div>
              </div>

              <div class="row test12">
              <div class="col-xs-12">
              <button type=button class="btn btn-default btn-md nbr_btn bt3" value="+" id ="addbtn">+</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  <section id="visit" class="row anchor">
    <h2>Do the peeps want to visit you?</h2>
    <div class="col-xs-12 col-sm-6 background">
      <div class = "headerinfo">
        <h1 class = "text-center">Peep Weather</h1>
        <h3 class = "text-center" id="location"></h3>
      </div>
      <div class = "weather-info container row">
        <div class = "col-xs-6 col-sm-3 icon" id="icon1"></div>
        <div class = "col-xs-6 col-sm-2" >
          <p id = "temp"></p>
        </div>
      </div>
    </div>
    <div  id = "visitinfo" class="col-xs-12 col-sm-6 background">
      <div class = "headerinfo">
        <h1 class = "text-center">Your Weather</h1>
        <h3 class = "text-center" id="location2"</h3>
      </div>
      <div class = "weather-info container row">
        <div class = "col-xs-6 col-sm-3 icon" id = "icon2"></div>
        <div class = "col-xs-6 col-sm-2" >
          <p id = "temp2"></p>
        </div>
      </div>
    </div>
  </section>
<div class="container">

<section id="where" class="row anchor">
  <header>
    <h2 >Are there any peeps near you? Just take a gander at the map.</h2>
    <p>The peeps are keeping track of each other by marking their current location
      on google maps.  As you can see the peeps can move rapidly, considering that
      the peep mobiles travel faster then the speed of light. They also keep track
      of the location of the newly landed stardust tumblers (known to humans as
      micrometeorites).  They need to make sure they sweep in and gather them up
      before the scientists from such places as the Imperial College of London accidently
      collect them in their search for micrometeorites and alien life forms. </p>
  </header>
    <div id="map" class="row"></div>
</section>
</div>
<footer>
  <div class="row">
    <div class="col-xs-2">
      <img id = "logo" src="../images/logo.jpg" alt="fish logo">
    </div>
    <div class="col-xs-10 col-md-5">
      <p>Mission statement:  To indoctrinate the human race into peepism using a wide assortment of methods
      including but not limited to fake news, game addiction, social psychology, and the generation of
      behavioral algorithms.</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <ul>
        <li> <a href="privacyPolicy.html">privacy policy </a></li>
        <li> <a href="termsOfUse.html">terms of use</a> </li>
        <li>Created by: Tanya Gendreau</li>
        <li> contact: tanyagendreau@gmail.com </li>
        <li> <a href="https://github.com/tanya53/peep_project_server">source code</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a class="col-xs-4 col-sm-2" href ="https://facebook.com/tanya.gend"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://github.com/tanya53"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://linkedin.com"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://plus.google.com"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://freecodecamp.com"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://twitter.com"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>
  <div>&copy;2017 - Tanya Gendreau</div>
</footer>

</body>
</html>
