<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Peep Power- photos</title>
<link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../style/photos.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>


</head>
<body>
  <header class="jumbotron text-center header-top">
    <h1 class="outline"> Peep Power</h1>
  </header>
  <nav class="navbar navbar-default" data-spy="affix" data-offset-top="300">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html#purpose">Purpose of Site</a></li>
            <li><a href="index.html#history">Peep History</a></li>
            <li><a href="index.html#meetPeeps">Meet the Peeps</a></li>
            <li><a href="index.html#peepHeros">Peep Heroes</a></li>
          </ul>
        </li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Media<span class="caret"></span><span class="sr-only">(current)</span></a>
          <ul class="dropdown-menu">
            <li><a href="photos.html">Photo Albums</a></li>
            <li><a href="popularpost.html">Peep Popular Post</a></li>
            <li><a href="blog.html">Ship Log</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="games.html#TicTacToe">Tic-Tac-Toe</a></li>
            <li><a href="games.html#Simon">Simon</a></li>
            <li><a href="games.html#Memory">Memory</a></li>
            <li><a href="games.html#FindOddPeep">Find the extra peep</a></li>
            <li><a href="games2.html#gettumblers">Gather the Tumblers</a></li>
            <li><a href="games2.html#slidingTile">Sliding Tile Puzzle</a></li>
            <li><a href="games3.html#nibbles">Nibbles - Snake game</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc. <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="misc.html#clock">Clock</a></li>
            <li><a href="misc.html#calculator">Calculator</a></li>
            <li><a href="misc.html#visit">Will the peeps visit?</a></li>
            <li><a href="misc.html#where">Where are the peeps?</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/tempindex"><span class="glyphicon glyphicon-user">Login/Signup</a></span></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <section class='container-fluid'>
    <header class= "col-xs-12">
      <h2>Peep Photo Albums</h2>
      <p>The peeps are creating various photo albums to document their trip on earth.
          Some highlight the struggles to convert the human species to peepism and
           some contain pictures of the fun they are having on earth.  The peeps believe
            in a balance between work and play, rather heavily favoring the fun aspect of life.
      </p>
    </header>
    <div class='generic-carousel col-xs-12 col-sm-3'>
    <div id='myCarousel' class='carousel slide' data-interval='false'>
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"> </li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
      <!--wrapper -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="thumbnail">
            <a href="../images/fish1.jpg"><img src= "../images/fish1.jpg"  alt="yellow tang and angle fish"></a>
            <div class="carousel-caption">
              <p>yellow tang and angle fish</p>
              <h3>fish album</h3>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="thumbnail">
            <a href="../images/fish2.jpg"><img src= "../images/fish2.jpg" alt="parrot fish"></a>
            <div class="carousel-caption">
              <p>parrot fish</p>
              <h3>fish album</h3>
            </div>
          </div>
        </div>
        <div class="item">
            <div class="thumbnail">
              <a href="../images/fish3.jpg"><img src= "../images/fish3.jpg" alt="fish"></a>
              <div class="carousel-caption">
                <p>unknown fish</p>
                <h3>fish album</h3>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
              <a href="../images/fish4.jpg" ><img src="../images/fish4.jpg" alt="turtle"></a>
              <div class="carousel-caption">
                <p>turtle</p>
                <h3>fish album</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      <!-- carousel flowers -->
    <div class="generic-carousel col-xs-12 col-sm-3">
      <div id="myCarousel2" class="carousel slide" data-interval="false">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel2" data-slide-to="1"> </li>
            <li data-target="#myCarousel2" data-slide-to="2"></li>
            <li data-target="#myCarousel2" data-slide-to="3"></li>
          </ol>

        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="thumbnail">
              <a href="../images/flower1.jpg"><img src= "../images/flower1.jpg"  alt="flower"></a>
              <div class="carousel-caption">
                <p>unknown flower</p>
                <h3>flower album</h3>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="thumbnail">
              <a href="../images/flower2.jpg"><img src= "../images/flower2.jpg" alt="orchid"></a>
              <div class="carousel-caption">
                <p>orchid</p>
                <h3>flower album</h3>
              </div>
            </div>
          </div>
          <div class="item">
              <div class="thumbnail">
                <a href="../images/flower3.jpg"><img src= "../images/flower3.jpg" alt="orchid"></a>
                <div class="carousel-caption">
                  <p>orchid</p>
                  <h3>flower album</h3>
                </div>
              </div>
          </div>
          <div class="item">
              <div class="thumbnail">
                <a href="../images/flower4.jpg"><img src="../images/flower4.jpg" alt="daffodil"></a>
                <div class="carousel-caption">
                  <p>daffodil</p>
                  <h3>flower album</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- carousel peeps -->
  <div class="generic-carousel col-xs-12 col-sm-3">
    <div id="myCarousel3" class="carousel slide" data-interval="false">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel3" data-slide-to="1"> </li>
          <li data-target="#myCarousel3" data-slide-to="2"></li>
          <li data-target="#myCarousel3" data-slide-to="3"></li>
        </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="thumbnail">
            <a href="../images/peep1.jpg"><img src= "../images/peep1.jpg"  alt="toy owl"></a>
            <div class="carousel-caption">
              <p>Oliver</p>
              <h3>peep album</h3>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="thumbnail">
            <a href="../images/peep2.jpg"><img src= "../images/peep2.jpg" alt="toy tiger"></a>
            <div class="carousel-caption">
              <p>Tig</p>
              <h3>peep album</h3>
            </div>
          </div>
        </div>
        <div class="item">
            <div class="thumbnail">
              <a href="../images/peep3.jpg"><img src= "../images/peep3.jpg" alt="toy prairie dog"></a>
              <div class="carousel-caption">
                <p>Prudence</p>
                <h3>peep album</h3>
              </div>
            </div>
        </div>
        <div class="item">
            <div class="thumbnail">
              <a href="../images/peep4.jpg"><img src="../images/peep4.jpg" alt="toy panda"></a>
              <div class="carousel-caption">
                <p>Petunia</p>
                <h3>peep album</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</section>
<footer>
  <div class="row">
    <div class="col-xs-2">
      <img id = "logo" src="../images/logo.jpg" alt="fish logo">
    </div>
    <div class="col-xs-10 col-md-5">
      <p>Mission statement:  To indoctrinate the human race into peepism using a wide assortment of methods
      including but not limited to fake news, game addiction, social psychology, and the generation of
      behavioral algorithms.</p>
    </div>
    <div class="col-xs-12 col-md-5">
      <ul>
        <li> <a href="privacyPolicy.html">privacy policy </a></li>
        <li> <a href="termsOfUse.html">terms of use</a> </li>
        <li>Created by: Tanya Gendreau</li>
        <li> contact: tanyagendreau@gmail.com </li>
        <li> <a href="https://github.com/tanya53/peep_project_server">source code</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <a class="col-xs-4 col-sm-2" href ="https://facebook.com/tanya.gend"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://github.com/tanya53"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://linkedin.com"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://plus.google.com"><i class="fa fa-google-plus-official fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://freecodecamp.com"><i class="fa fa-free-code-camp fa-3x" aria-hidden="true"></i></a>
    <a class="col-xs-4 col-sm-2" href="https://twitter.com"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
  </div>
  <div>&copy;2017 - Tanya Gendreau</div>
</footer>
</body>
</html>
