<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Peep Power- home</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>
<script src="script/playcanvas.js"></script>

</head>
<body>
  <canvas id="myCanvas" width="800" height="600" style="border:1px solid #000000"></canvas>
  <canvas id="clock" width="400" height="400" style="background-color:#333"></canvas>

</body>
</html>
