<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title class="text-center">Tic-Tac-Toe</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="style/tictactoe.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/1e9f243857.js"></script>
<script src="script/tictactoe.js"></script>

</head>
<body class="container-fluid">
<div class="row board col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
     <div class="col-xs-4 box text-center" value="0" id = "box0">
       <span id = "0">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="1" id ="box1">
       <span id = "1">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="2" id ="box2">
       <span id = "2">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="3" id ="box3">
       <span id = "3">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="4" id = "box4">
       <span id = "4">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="5" id="box5">
       <span id = "5">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="6" id ='box6'>
       <span id = "6">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="7" id ='box7'>
       <span id = "7">&nbsp;</span>
     </div>
     <div class="col-xs-4 box text-center" value="8" id ='box8'>
       <span id = "8">&nbsp;</span>
     </div>
<div class="gamestart col-xs-10">
  <div class = "outline">
  <p class="text-center">tic-tac-toe</p>
    <p class="text-center">x or o</p>
  </div>
  <div class="btnpos">
    <button type=button class="play btn btn-default btn-sm" value="X">X</button>
    <button type=button class="play btn btn-default btn-sm" value="O">O</button>
  </div>
  </div>
  <div class="lines"><hr></hr></div>
<div class="text-center winner">
  <p class="winner2"><p>
  <button type=button class="yesno btn btn-default btn-sm" value="Yes">Yes</button><button type=button class="yesno btn btn-default btn-sm" value="No">No</button>
</div>
</div>


</body>
</html>
